---<br/>
Regards,<br/><br/>

<table style="border-collapse: collapse; width: 25rem; font-family: Arial, sans-serif;">
  <tbody>
    <tr>
      <!-- Logo -->
      <td style="border-right: 1px solid #000; padding: 3px; text-align: center; vertical-align: middle; width: 75px;">
        <img src="https://i.ibb.co/kjQsvv3/images.jpg" width="70" height="70" style="display:block; margin:0 auto;">
      </td>

      <!-- Text -->
      <td style="padding-left: 6px; vertical-align: middle;">
        <strong style="font-size:11pt; color:#000;">Computer Graphics Society</strong><br/>
        <span style="font-size:8pt; color:#444;">Indian Institute of Technology, Kharagpur</span><br/>

        <span style="font-size:8.5pt;">
          <a href="https://instagram.com/cgs_iitkgp" style="color:#1155cc; text-decoration:none;">Instagram</a> |
          <a href="https://github.com/cgs-iitkgp" style="color:#1155cc; text-decoration:none;">Github</a> |
          <a href="https://www.linkedin.com/company/computer-graphics-lab/" style="color:#1155cc; text-decoration:none;">Linkedin</a> |
          <a href="https://www.youtube.com/@CGS_IITKGP" style="color:#1155cc; text-decoration:none;">YouTube</a>
        </span>
      </td>
    </tr>
  </tbody>
</table>


